<header>
    <div class="container">
        <nav>
            <a href="/" class="nav__logo">
                <img src="/assets/images/t-e-d-logo.png" alt="">
                <div class="wordmark">Tango Echo Delta</div>
            </a>
            <button class="hamburger" aria-label="Toggle menu">
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
                <span class="hamburger__line"></span>
            </button>
            <div class="nav__links">
                <ul>
                    <li>
                        <a href="#diensten" aria-haspopup="true" aria-expanded="false">Diensten</a>
                        <!-- <ul class="submenu">
                            <li>
                                <a href="/diensten/#renovatie">Renovatie</a>
                            </li>
                            <li>
                                <a href="/diensten/#timmerwerk">Timmerwerk</a>
                            </li>
                            <li>
                                <a href="/diensten/#stucwerk">Stucwerk</a>
                            </li>
                            <li>
                                <a href="/diensten/#schilderwerk">Schilderwerk</a>
                            </li>
                            <li>
                                <a href="/diensten/#installatie">Installatie</a>
                            </li>
                            <li>
                                <a href="/diensten/#kitwerk">Kitwerk</a>
                            </li>
                            <li>
                                <a href="/diensten/#coating">Coating</a>
                            </li>
                            <li>
                                <a href="/diensten/#vloeren">Vloeren</a>
                            </li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="#projecten" aria-haspopup="true" aria-expanded="false">Projecten</a>
                        <!-- <ul class="submenu">
                            <li>
                                <a href="/over-mij/#wie-ben-ik">Wie ben ik</a>
                            </li>
                            <li>
                                <a href="/over-mij/#certificaten">Certificaten</a>
                            </li>
                            <li>
                                <a href="/over-mij/#partners">Partners</a>
                            </li>
                        </ul> -->
                    </li>
                    <li>
                        <a class="button" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
