<footer>
    <div class="container footer-container">
        <div class="flex-column">
            <div class="footer-logo">
                <img src="/assets/images/t-e-d-logo.png" alt="tango-echo-delta">
                <h4>Tango Echo Delta</h4>
            </div>
        </div>
        <div class="flex-column">
            <div class="footer-contact">
                <p>
                    <span style="font-weight:700">Tango Echo Delta</span>
                    <br>
                    straatnaam nr
                    <br>
                    Post CO De Plaatsnaam
                    <br>
                    06 - 12 34 56 78
                    <br>
                    KvK Oost Brabant: 123456789
                    <br>
                    <a href="mailto:info@tango-echo-delta.com">info@tango-echo-delta.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>
            Tango Echo Delta 
			&copy;
            <span id="copyrightYear"></span>
        </p>
    </div>
</footer>
